drupal/sites/*/settings.php
drupal/sites/*/civicrm.settings.php
drupal/sites/*/files

*~
\#*\#

*.mysql
!drupal/sites/all/modules/civicrm/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*/*.mysql

*.sql
!drupal/modules/simpletest/files/sql-2.sql
!drupal/sites/all/modules/civicrm/drupal/modules/civicrm_engage/migrate/*.sql

*.tar

*.gz
!drupal/modules/update/tests/aaa_update_test.tar.gz
!drupal/sites/all/modules/civicrm/packages/jquery/plugins/DataTables-1.7.6/media/js/jquery.dataTables.min.js.gz
!drupal/sites/all/modules/civicrm/packages/jquery/plugins/DataTables-1.7.6/extras/FixedHeader/js/FixedHeader.min.js.gz
!drupal/sites/all/modules/civicrm/sql/counties.US.sql.gz

*.zip